.my-page {
    padding-top: 2rem;
}

.my-page h3 {
    padding-bottom: 1rem;
    font-size: 30px;
    font-weight: 700;
}

.my-page .left-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.my-page .left-container .menu-item-btn {
    width: 100%;
    border-radius: 0.5rem;
    background: #f8eded;
    color: #000000;
    text-align: left;
    text-transform: none;
    padding: 1rem;
    font-weight: bolder;
    border:none;
}

.my-page .left-container .menu-item-btn:hover{
    font-weight: bolder;
    color: #000000;
    background: #f37c25
}

.my-page .left-container .menu-item-btn:disabled {
    font-weight: bolder;
    color: #000000;
    background: #f37c25;
    opacity: 1
}