.order-history-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-filter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.order-filter-item {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order-filter-dropdown {
}

#all-order-detail {
  width: 80%;
  text-align: center;
  padding: 0.3rem;
  border: none;
  background: transparent no-repeat;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
#all-order-detail:hover {
  background: #f37c25;
  color: white;
}

.search-container {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  border-radius: 20px;
  padding: 0.3rem;
  background-color: white;
}

.order-item-input {
  width: 100%;
  margin-right: 0.3rem;
}
#magnify {
  width: 10%;
  box-sizing: border-box;

  cursor: pointer;
}

.search-container input {
  border: none;
  border-radius: 20px;
  padding-left: 0.3rem;
}
.search-container input:focus {
  outline: none;
}

.orders-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.order-filter-item select {
  width: 80%;
  border-radius: 0.25rem;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  padding: 0.3rem;
  background: transparent;
  cursor: pointer;
}

.spinner-order {
  margin: auto;
}

.order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.order-item-image {
  width: 30%;
  border: 1px solid var(--clr-blush);
  border-radius: 5px;
  padding: 0.5rem;
}
.order-item-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  min-width: 8rem;
}

.order-item-info {
  width: min-content;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-item-info h4 {
  width: 100%;
}

.order-item-info span {
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.7rem;
  /* width: 50%; */
}
#order-item-date {
  /* margin: 0; */
}

#order-item-orderno {
  margin-bottom: 0;
}

.order-item-quanlity p {
  text-align: center;
  margin: 0;
}

.order-item-pickup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-item-pickup h4 {
  margin-bottom: 0;
}

.order-item-status-balance {
  align-self: stretch;
  width: 20%;
  position: relative;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-item-status {
  border: none;
  /* z-index: 0; */
  width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

#coin {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#coin img {
  width: 1.5rem;
  height: 1.5rem;
}

.order-page {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.pagination > li > a {
  background-color: white;
  color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: black;
  background-color: #fff8dc;
  border-color: #ddd;
}

.pagination > .active > .page-link {
  z-index: -1;
  color: white;
  background-color: var(--clr-orange) !important;
  border: solid 1px var(--clr-orange) !important;
}

/*large screen */
@media only screen and (min-width: 1200px) {
  /* Styles */
  .order-item-image {
    width: 20%;
    box-sizing: border-box;
    padding: 0;
    margin: 1rem;
  }
  .order-item-image img {
    width: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    margin: 0.5rem;
  }
  .order-item-status-balance {
    align-items: center;
  }
  .order-item-info {
    margin-right: auto;
  }
  .order-item-pickup {
    width: 20%;
  }
}

@media only screen and (max-width: 992px) {
  .order-item-pickup p {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 568px) {
  .order-item-image {
    width: 50%;
    min-width: 8rem;
  }
  .order-filter-dropdown {
    width: 50%;
  }
}
